:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --bg-gradient: linear-gradient(#F5EEFF, #DAC3F8);

  --border: var(--border-width-l) solid rgba(255, 255, 255, 0.3);

  --border-width-l: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 6px;
  --border-radius-s: 8px;

  --transition-duration: 0.2s;
}
